.container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.addTodoContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.addButton {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: baseline;
}
.addTodo {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}
body {
  width: 100vw;
  height: 100vh;
}
